@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #203C57;
  --secondary-color: #C02E3B;
  --font-family: "Inter", sans-serif; /* Define font-family variable */
}

body {
  font-family: var(--font-family); /* Apply Inter font globally */
  font-optical-sizing: auto;
  font-weight: 400; /* Default weight */
  font-style: normal;
}
